<!DOCTYPE html>

<html lang="en-US" class="no-js">

<head>
	<meta charset="UTF-8" />

	<title>Maintenance</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex, nofollow" />

	<style type="text/css">
		h1 {
			text-align: center;
			font-family: arial,helvetica,sans-serif;
			font-size: 40px;
			margin: 250px 0 0 0;
		}
		p {
			text-align: center;
			color: #bbb;
			margin: 5px 0 20px 0;
		}
	</style>
</head>

<body>
	<h1>Down for maintenance</h1>
	<p>back shortly</p>
</body>
</html>
